.review {
    padding: 160px 0;
}

.review__subtitle {
    color: #159BE8;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
}

.review__title {
    color: #fff;
    font-size: 40px;
    font-weight: 400;
    line-height: 54px;
    width: 624px;
    text-align: center;
}

.review__desc {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 28px;
}

.review__brands {
    display: flex;
    gap: 54px;
    align-items: center;
    margin-top: 64px;
}

.review__items {
    margin-top: 80px;
}

.review__items-review {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 288px;
}

.review__items-review__text {
    color: #fff;
    font-size: 17px;
    font-weight: 400;
    line-height: 30px;
}

.review__items-review__person-name {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
}

.review__items-review__person {
    display: flex;
    gap: 10px;
    align-items: center;
}

.review__items-review__person__desc {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.review__items-review__person-prof {
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    color: #fff;
}

.review__items{
    display: flex;
    gap: 38px;
}